
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -30%);
    text-align: left;
}
.carousel-caption h3{
    font-family: 'Arialic Hollow-Gem', sans-serif; 
    font-size: 4em;
    font-weight: 900;
    color: var(--white-color);
}
.carousel-caption p{
    color:var(--primary-color);
   font-weight: 400;
    font-size: 1.2em;
}
.col-md-4{
    padding-top: 20px;
    border-radius: 12px;
}
.col-md-4 h4{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2em;
}
.col-md-4 p{
    text-align: center;
    font-size: 0.8em;
    text-wrap: balance;
}
.fa-regular,.fa-solid{
    color: var(--tartiary-color);
    font-size: 2rem;
    font-weight: 800;

}
.about{
    position: relative;
    padding-top: 50px;
}

.about h2{
    color: var(--tartiary-color);
    font-weight: 700;
    font-size: 1.9em;
}
.about h2::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--secondary-color);
    bottom: 1px;
    left: calc(50% - 60px);
}
.about h2::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--primary-color);
    bottom: 0;
    left: calc(50% - 20px);
}
.aboutP{
    font-size: 0.85em;
    font-weight: 400;
}
.subCol{
    border-radius:12px ;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-inline: 2px solid var(--tartiary-color);
    margin: 20px 0px;
    padding: 15px;
}
.subCol h4{
    color: var(--primary-color);
    font-weight: 700;
}
.subCol .ab-item{
    font-size: 0.8em;
}
.Testimonial span{
    
    font-family: 'Arialic Hollow-Gem', sans-serif; 
    font-size: 5rem;
    font-weight: 900;
    color: transparent;
   -webkit-text-stroke: 2px var(--tartiary-color);
    text-stroke: 2px var(--tartiary-color);
}
@media (max-width:834px) {
    .testimonCol{
        flex-direction: column-reverse;
    }
    .carImage{
        height: 34vh !important;
    }
}
@media (max-width:430px) {
   
    .Testimonial span{
        font-size: 2rem;
    }
    .aboutP{
        font-size: 0.65em;
    }
    .subCol .ab-item{
        font-size: 0.6em !important;
    }
    .carousel-caption{
        top: 30%;
        left: 20%;
        transform: translate(-20%, -20%);
    }
    .carousel-caption h3{
        font-size: 1.4em;
        width: 100%;
    }
    .carousel-caption h4{
        font-size: 0.6em;
    }
}